<section class="section--padding-top competition-block">
  <div class="bg-color">
    <div class="row row--padding row--columns-6-6-gutters row--columns-vertical-align  column-overlap">
      <div class="row__column column-overlap__text">
        <h2>Win A Fabulous Stay <br>In Switzerland</h2>
        <p>One very lucky Secret Escapes member will win a brilliant, luxury escape and get the opportunity to visit some of the incredible places we’ve featured and maybe even find a few hidden gems of their own.</p>
        <a href="{{site.baseurl}}/competition" class="btn">Enter Now</a>
      </div>
      <div class="row__column column-overlap__image">
        <div>
          <a href="{{site.baseurl}}/competition"><div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{site.baseurl}}/img/content/competition-pool.jpg');"></div></a>
        </div>
      </div>
    </div>
  </div>
</section>